.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}
.container{
  max-height: 10000px;
  background-color: aqua;
}
.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}
.imageheader{
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}