body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
  margin-bottom: 200px;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}
.imageheader{
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}
.gap{
  height: 500px;
}
.btn1{
  margin-bottom: 100px;
  border-radius: 10px;
  border: transparent;
  height: 40px;
  width: 350px;
  margin-left:20%;
  background-color: rgb(245, 139, 0);

}
.container1{
  margin-top: 50px;
  margin-bottom: 50px;
    border: 1px solid  #1b1b1c;
    border-radius: 2px;
    width: 500px;
    height: 700px;
      display: inline-block;
      margin-left: 30%;
      margin-right: auto;
    background-size: 100% 100%;
    
  }
  .alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    font-size: 12;
  }
  .form-label{
    margin-left:20%;
    font-size: small;
    font-weight:600;
  }
  .form-control{
    width: 350px;
    margin-left:20%;
  }

  .card-title{
    margin-left: 50%;
    color: black;
    font-size: medium;
  }